Source: choreonoid
Priority: extra
Maintainer: Thomas Moulard <thomas.moulard@gmail.com>
Build-Depends: debhelper, cmake,
	       doxygen, doxygen-latex, graphviz,
	       libboost-all-dev,
	       libeigen3-dev,
	       zlib1g-dev,
	       libjpeg-dev,
	       libpng-dev,
	       libopenscenegraph-dev,
	       libsimage-dev,
	       libyaml-dev,
	       libqt4-dev,
	       libqt4-opengl-dev,
	       qt4-dev-tools,
	       qt4-qtconfig,
	       gettext
Standards-Version: 3.9.4
Section: contrib/science
Homepage: http://choreonoid.org/
Vcs-Git: git://github.com/thomas-moulard/choreonoid-deb.git
Vcs-Browser: https://github.com/thomas-moulard/choreonoid-deb

Package: choreonoid
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Integrated robotics GUI environment
 Choreonoid is an integrated robotics GUI environment, which allows
 users to add their own functions on the basis of various basic
 robotics functions.

Package: choreonoid-dev
Architecture: any
Section: contrib/devel
Depends: choreonoid (= ${binary:Version}), ${misc:Depends}, libopenscenegraph-dev, libboost-all-dev, libeigen3-dev, libqt4-dev
Description: Integrated robotics GUI environment development files
 Choreonoid is an integrated robotics GUI environment, which allows
 users to add their own functions on the basis of various basic
 robotics functions.
 .
 This package gathers development files required to compile Choreonoid
 plug-ins.


Package: choreonoid-dbg
Architecture: any
Section: contrib/debug
Depends: choreonoid (= ${binary:Version}), ${misc:Depends}
Description: Choreonoid debugging symbols
 Choreonoid is an integrated robotics GUI environment, which allows
 users to add their own functions on the basis of various basic
 robotics functions.
 .
 This package contains the debugging symbols for the main binary.
